@model Friend
@{
    string name = ViewBag.friend.FriendName;
    string place = ViewBag.friend.Place;
}
<h1>Update Friend Details</h1>

<form action="@Url.Action("Update","Friend")" method="post">
    <div id="update_friend_form">
        <input type="text" name="FriendName" id="FriendNameInput" placeholder="Friend Name" value="@name">
        <input type="text" name="Place" id="PlaceInput" placeholder="Place" value="@place">

        <button>Update Friend</button>
    </div>
</form>