@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Friendly</h1>
    <a asp-controller="Friend" asp-action="Index">Go to friends list</a>
</div>
